body {
  font-size: 16px;
}

.container {
  width: 500px;

}

div.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

div.todo, input.edit {
  font-family:monospace;
  font-size: 18px;
}

div.todos {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.list {
  width: 800px;
  text-align: center;
}

li.list-item {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

input.edit {
  width: 60%;
}

div.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
