body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1.title {
  margin: 0;
  color: #d81e05;
  padding: 10px 20px;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  height: auto;
  width: 50%;
  min-width: 611px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  border: 0.1em solid steelblue;
  border-radius: 0.3em;
}

div.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

div.input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

div.todos {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 10px;
}

div.todo, input.edit {
  width: 65%;
  font-size: 18px;
  margin-left: 10px;
}

input.edit {
  height: 2em;
  border: 0.1em solid steelblue;
  border-radius: 0.3em;
  padding: 0em 0.5em;
  font-family: 'Roboto', sans-serif;
}

input.edit:focus {
  outline: none;
}

div.todo {
  word-wrap: break-word;
  padding: 10px 0;
}

div.complete {
  text-decoration: line-through;
}

div.textField {
  margin-right: 20px;
}

div.buttons {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
}

.saveButton, .editButton, .deleteButton {
  margin-right: 5px;
}

ul.list {
  padding: 0;
}

div.paper {
  width: 580px;
  /*margin-right: 10px;*/
}

li.row {
  margin: 0px 0px 10px 0px;
  list-style: none;
  padding-top: 10px;
}

li.row:hover{
  cursor: pointer;
}
div #controlled-tab {
  width: 580px;
}

/*fade in*/
/*.animatedRow-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.animatedRow-enter.animatedRow-enter-active {
	opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.animatedRow-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.animatedRow-leave.animatedRow-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}*/
